<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body style="padding: 20px;">
        <!--Add review form here -->

<h3>Add a review for {{ full_name }}</h3>
        
<form method="POST"  action="{% url 'djangoapp:add_review' dealer_id  %}"  >


    <form>
        {% csrf_token %}
        <div class="form-group">
       <label for="content">Enter the review content:</label> 
        <textarea class="form-control" id="content" name="content" rows="2" required></textarea> 
        </div>

     
     <BR>
        <div class="form-check">

            <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">  
            <label class="form-check-label" for="purchasecheck">Purchased car from this dealer before  to ask if users purchased car from this dealer before </label>
        </div
        <br><br>
        
        
        <div class="form-group">
         <label for="cat">Select your car model (model-make-year) :</label>  
<select name="car" id="car" class="form-select" required>
     {% for car in cars %}
         <option selected value={{car.id}}>{{car.name}}-{{car.carmake.name}}-{{ car.year|date:"Y" }}</option>
     {% endfor %}
</select>
    </div>
    <div class="form-group">
        <label for="cat">Select your purchase date:</label>   <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate" style="width: 200px;" > 

  <script type="text/javascript">
      $('.date-own').datepicker({
         format: 'mm/dd/yyyy'
       });
 </script>
 </div>
<br>
 <input class="btn btn-primary"  type="submit" value="Submit" > 
 {% csrf_token %}
 <input type="hidden" name="dealer_id" value="{{ dealer_id }}"  >
</form>








        </form>
    </body>
</html>