<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dealership Review</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
  <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
  <script
    src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

<body>
  <!--Add a nav bar here -->
  <nav  class="navbar navbar-light bg-light">
    <span  class="navbar-brand">Dealership Review</span>

    
      <a style="font-weight: bold;" class="nav-item nav-link" href="{% url 'djangoapp:about' %}">About</a>
      <a style="font-weight: bold;" class="nav-link" href="{% url 'djangoapp:contact' %}">Contact</a>


    {% if not user.is_authenticated %}

    <form class="form-inline" method="POST" action="{% url 'djangoapp:login' %}" >
      {% csrf_token %}
      <input class="form-control" type="text"  name="username"  placeholder="username" aria-label="usernamer">
      <input class="form-control " type="password" name="password" placeholder="password" aria-label="password">
      <button class="btn btn-primary" type="submit">Login</button>&nbsp; &nbsp;
      <a  class="btn btn-info " href="{% url 'djangoapp:registration' %}">Sign up</a>
    </form>
    {% else %}
    <div>
    <span style='color:maroon;font-weight: bold;margin-right: 20px;'>   {{user.first_name}} {{user.last_name}} - {{user.username}} </span> 
    <a  class="btn btn-info " href="{% url 'djangoapp:logout' %}">Log out</a>
  </div>
    {% endif %}
  </nav>
<br><br><br>
 
  
  <!--Add a dealer table here -->
  

  <table class="table" id="table" data-filter-control="true" >
    <thead>
        <tr>
            <th data-field="id">ID</th>
            <th data-field="short_name">Dealer Name</th>
            <th data-field="city">City</th>
            <th data-field="address">Address</th>
            <th data-field="zip">Zip</th>
            <th data-field="st"  data-filter-control="select" >State</th>
        </tr>
    </thead>
    <tbody>
        {% for dealer in dealership_list %}
            <tr>
                <td>{{dealer.id}}</td>
                <td><a href="{% url 'djangoapp:get_dealership_reviews' dealer.id %}">{{dealer.full_name}}</a></td>
                <td>{{dealer.icityd}}</td>
                <td>{{dealer.address}}</td>
                <td>{{dealer.zip}}</td>
                <td>{{dealer.st}}</td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>




</body>
<script>
  $(function() {
    $('#table').bootstrapTable()
  })
</script>

</html>